
/* Contact form */


.contact-form {
    padding: 70px 40px;
    background-color: #cde4db;
    border-radius: 10px;
}

.field {
    border: none;
    margin-bottom: 20px;
}

.field > label > input, .field > label > textarea {
    display: block;
    width: 100%;
    margin: auto;
    padding: 7px;
    border-radius: 7px;
}

.field > button {
    padding: 7px 15px;
    border-radius: 7px;
}



/* List page */

.pill {
    color: white;
    padding: 2px 12px;
    width: auto;
    border-radius: 7px;
    background-color: #096926e8;
}

/* Blog post */


.tag {
    padding: 13px 10px;
    color: white;
    border-radius: 7px;
    background-color: #096926e8;
}

blockquote {
    background-color: #cde4db;
    padding: 20px;
    opacity: 0.7;
}


/*  Main background lighten effects */


.lighten-on-hover:hover {
    animation: lighten 0.5s ease-out;
    animation-fill-mode: forwards;
}

.lighten-on-hover {
    animation: darken 0.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes lighten {
    0% { opacity: 1; }

    100% { opacity: 0.9; }
}

@keyframes darken {
    0% { opacity: 0.9; }

    100% { opacity: 1; }
}
